.order{
    width: 60%;
    height: 100px;
    background-color: rgb(241, 241, 241);
    margin: 10px 0px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;

}
.order__left{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order__leftImg{
    height: 100px;
}
.order__leftImg img{
    width: 100%;
    height: 100%;
}
.order__right{
    background-color: transparent;
}
.removeBtn span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.singleProduct__quantityBox{
    display: flex;
}

@media (max-width:600px){
    .order{
        width: 100%;
        height: 60px;
    }
    .order__leftImg{
      height: 50px;
     }
     .order__leftdescription .title{
        font-size: 12px;
     }
     .order__leftdescription .size{
        font-size: 10px;
     }
} 